.page{
    width: 100%;
    height: 100vh;
    position: absolute;
}

.top-tags{
    bottom: auto;
    top: 50px;
}

.tags{
    color: whitesmoke;
    font-size: 30px;
    position: absolute;
    left: 245px;
    font-family: 'La Belle Aurore';
    opacity: 0.5;
    bottom: 0;
}

.bottom-tag-html{
    margin-left:-25px;
}